In [1]:
import numpy as np
import pandas as pd
from sklearn import preprocessing

np.set_printoptions(threshold=np.nan) #for displaying arrays without truncating

Data was loaded from the next source: https://archive.ics.uci.edu/ml/datasets/Car+Evaluation

It has the next structure:  
 -  buying:       v-high, high, med, low  
 -  maint:        v-high, high, med, low  
 -  doors:        2, 3, 4, 5-more  
 -  persons:      2, 4, more  
 -  lug_boot:     small, med, big  
 -  safety:       low, med, high

In [3]:
col_names = [
    'buying', 
    'maint',
    'doors',
    'persons',
    'lug_boot',
    'safety',
    'evaluation'
]

In [25]:
data_raw = pd.read_csv("data/car_data/car.data", sep=',', header=None, names = col_names)
le = preprocessing.LabelEncoder()
oh = preprocessing.OneHotEncoder()

In [27]:
# data_enc = data_raw
data_enc = data_raw.apply(le.fit_transform)
data_enc["evaluation"] = data_raw["evaluation"]
data_enc = pd.get_dummies(data_enc)
# data_enc = pd.concat(data_enc, data_y_enc)
data = np.asarray(data_enc)
data_x = data[:, 0:6]
data_y = data[:, -4:]

In [6]:
data_raw[:10]

  buying  maint doors persons lug_boot safety evaluation
0  vhigh  vhigh     2       2    small    low      unacc
1  vhigh  vhigh     2       2    small    med      unacc
2  vhigh  vhigh     2       2    small   high      unacc
3  vhigh  vhigh     2       2      med    low      unacc
4  vhigh  vhigh     2       2      med    med      unacc
5  vhigh  vhigh     2       2      med   high      unacc
6  vhigh  vhigh     2       2      big    low      unacc
7  vhigh  vhigh     2       2      big    med      unacc
8  vhigh  vhigh     2       2      big   high      unacc
9  vhigh  vhigh     2       4    small    low      unacc

In [28]:
data_enc[:10]

,buying,maint,doors,persons,lug_boot,safety,evaluation_acc,evaluation_good,evaluation_unacc,evaluation_vgood
0,3,3,0,0,2,1,0,0,1,0
1,3,3,0,0,2,2,0,0,1,0
2,3,3,0,0,2,0,0,0,1,0
3,3,3,0,0,1,1,0,0,1,0
4,3,3,0,0,1,2,0,0,1,0
5,3,3,0,0,1,0,0,0,1,0
6,3,3,0,0,0,1,0,0,1,0
7,3,3,0,0,0,2,0,0,1,0
8,3,3,0,0,0,0,0,0,1,0
9,3,3,0,1,2,1,0,0,1,0

In [29]:
print("X shape {0}\nY shape {1}".format(data_x.shape, data_y.shape))

X shape (1728, 6)
Y shape (1728, 4)

In [31]:
data_enc.to_csv("data/car_data/car_evaluation.csv", index = False)